<a href="https://colab.research.google.com/github/jeonghar1m/ITECT-Practice/blob/main/211231~220103/%EA%B3%B5%EC%BB%B4_5%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 공컴 5일차 (반복문)

- while: 조건이 참일 때 반복문 수행
- for: 정의한 횟수 만큼 반복문 수행
- break & continue

- 1부터 n까지의 합계 구하기  
▶ while

In [ ]:
n = int(input("정수를 입력하세요: "))
sum = 0
i = 0
while(i <= n):
  sum += i
  i += 1

print("result = ", sum)

정수를 입력하세요: 5
result =  15

- 1부터 n까지의 합계 구하기  
▶ For

In [ ]:
n = int(input("정수를 입력하세요: "))
sum = 0
for i in range(1, n + 1):
  sum += i

print("result = ", sum)

정수를 입력하세요: 5
result =  15

- 1 부터 100 까지 홀수 출력 (for 문 )

In [ ]:
for i in range(1, 101, 2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
sum = 0
for i in range(1, 100 + 1, 2):
  sum += i

print("100까지의 홀수의 합 = ", sum)

100까지의 홀수의 합 =  2500

In [ ]:
sum = 0
i = 1
while (i <= 100):
  sum += i
  i += 2

print("100까지의 홀수의 합 = ", sum)

100까지의 홀수의 합 =  2500

- 약수 구하기

In [ ]:
n = int(input("정수를 입력하세요: "))
print(n, "의 약수")
for i in range(1, n + 1):
  if n % i == 0:
    print(i, end=' ')

정수를 입력하세요: 27
27 의 약수
1 3 9 27

- break & continue  
  –  break: 아래 작성된 문장을 실행하지 않고 강제로 종료  
–  contiune: 현재 실행중인 나머지 블록을 실행하지 않음

- 다음과 같이 출력되도록 코딩하시오.
```
아무거나 입력하세요: 23455
아무거나 입력하세요: 3333333
아무거나 입력하세요: 234234
아무거나 입력하세요: 2222222
아무거나 입력하세요: 111
다시 입력하세요
아무거나 입력하세요: 2344
다시 입력하세요
아무거나 입력하세요: quit
종료합니다.
```

In [ ]:
while True:
  a = input("아무거나 입력하세요: ")
  if(a == 'quit'):
    print("종료합니다.")
    break
  elif(len(a) < 5): print("다시 입력하세요.")

아무거나 입력하세요: 23455
아무거나 입력하세요: 3333333
아무거나 입력하세요: 234234
아무거나 입력하세요: 2222222
아무거나 입력하세요: 111
다시 입력하세요.
아무거나 입력하세요: 2344
다시 입력하세요.
아무거나 입력하세요: quit
종료합니다.

# 1월 3일 월요일

- 다음과 같이 연속해서 합을 구하는 프로그램 작성

```
첫번째 숫자를 입력: 2
두번째 숫자를 입력: 3
5
첫번째 숫자를 입력: 2
두번째 숫자를 입력: 5
12
첫번째 숫자를 입력: 5
두번째 숫자를 입력: 6
23
첫번째 숫자를 입력: 0
두번째 숫자를 입력: 0
```

In [ ]:
num1 = 0
num2 = 0
total = 0

while True:
  num1 = int(input("첫 번째 숫자를 입력: "))
  num2 = int(input("두 번째 숫자를 입력: "))
  if (num1 != 0 and num2 != 0):
    total += (num1 + num2)
    print(total)
    continue
  else: break

첫 번째 숫자를 입력: 2
두 번째 숫자를 입력: 3
5
첫 번째 숫자를 입력: 2
두 번째 숫자를 입력: 5
12
첫 번째 숫자를 입력: 5
두 번째 숫자를 입력: 6
23
첫 번째 숫자를 입력: 0
두 번째 숫자를 입력: 0

### - 중첩 반목문

```
i = 0
 j = 0
 j = 1
 j = 2
 j = 3
 j = 4
 j = 5

i = 1
 j = 0
 j = 1
 j = 2
 j = 3
 j = 4
 j = 5
```

- while 사용

In [ ]:
i = 0
while i <= 1:
  print("i = ", i)
  j = 0
  while j <= 5:
    print("  j = ", j)
    j += 1
  i += 1
  print("")

i =  0
  j =  0
  j =  1
  j =  2
  j =  3
  j =  4
  j =  5

i =  1
  j =  0
  j =  1
  j =  2
  j =  3
  j =  4
  j =  5

- for 사용

In [11]:
i = 0
for i in range(0, 2):
  print("i = ", i)
  j = 0
  for j in range(0, 6):
    print("  j = ", j)
    j += 1
  i += 1
  print("")

i =  0
  j =  0
  j =  1
  j =  2
  j =  3
  j =  4
  j =  5

i =  1
  j =  0
  j =  1
  j =  2
  j =  3
  j =  4
  j =  5

- 구구단 출력

```
2  *  1  =   2  2  *  2  =   4  2  *  3  =   6  2  *  4  =   8  2  *  5  =  10  2  *  6  =  12  2  *  7  =  14  2  *  8  =  16  2  *  9  =  18  
3  *  1  =   3  3  *  2  =   6  3  *  3  =   9  3  *  4  =  12  3  *  5  =  15  3  *  6  =  18  3  *  7  =  21  3  *  8  =  24  3  *  9  =  27  
4  *  1  =   4  4  *  2  =   8  4  *  3  =  12  4  *  4  =  16  4  *  5  =  20  4  *  6  =  24  4  *  7  =  28  4  *  8  =  32  4  *  9  =  36  
5  *  1  =   5  5  *  2  =  10  5  *  3  =  15  5  *  4  =  20  5  *  5  =  25  5  *  6  =  30  5  *  7  =  35  5  *  8  =  40  5  *  9  =  45  
6  *  1  =   6  6  *  2  =  12  6  *  3  =  18  6  *  4  =  24  6  *  5  =  30  6  *  6  =  36  6  *  7  =  42  6  *  8  =  48  6  *  9  =  54  
7  *  1  =   7  7  *  2  =  14  7  *  3  =  21  7  *  4  =  28  7  *  5  =  35  7  *  6  =  42  7  *  7  =  49  7  *  8  =  56  7  *  9  =  63  
8  *  1  =   8  8  *  2  =  16  8  *  3  =  24  8  *  4  =  32  8  *  5  =  40  8  *  6  =  48  8  *  7  =  56  8  *  8  =  64  8  *  9  =  72  
9  *  1  =   9  9  *  2  =  18  9  *  3  =  27  9  *  4  =  36  9  *  5  =  45  9  *  6  =  54  9  *  7  =  63  9  *  8  =  72  9  *  9  =  81  

```

In [14]:
i = 0
j = 0

for i in range(2, 10):
  for j in range(1, 10):
    print(i, " * ", j, " = ", i * j, end="\t")
  print("")

2  *  1  =  2	2  *  2  =  4	2  *  3  =  6	2  *  4  =  8	2  *  5  =  10	2  *  6  =  12	2  *  7  =  14	2  *  8  =  16	2  *  9  =  18
3  *  1  =  3	3  *  2  =  6	3  *  3  =  9	3  *  4  =  12	3  *  5  =  15	3  *  6  =  18	3  *  7  =  21	3  *  8  =  24	3  *  9  =  27
4  *  1  =  4	4  *  2  =  8	4  *  3  =  12	4  *  4  =  16	4  *  5  =  20	4  *  6  =  24	4  *  7  =  28	4  *  8  =  32	4  *  9  =  36
5  *  1  =  5	5  *  2  =  10	5  *  3  =  15	5  *  4  =  20	5  *  5  =  25	5  *  6  =  30	5  *  7  =  35	5  *  8  =  40	5  *  9  =  45
6  *  1  =  6	6  *  2  =  12	6  *  3  =  18	6  *  4  =  24	6  *  5  =  30	6  *  6  =  36	6  *  7  =  42	6  *  8  =  48	6  *  9  =  54
7  *  1  =  7	7  *  2  =  14	7  *  3  =  21	7  *  4  =  28	7  *  5  =  35	7  *  6  =  42	7  *  7  =  49	7  *  8  =  56	7  *  9  =  63
8  *  1  =  8	8  *  2  =  16	8  *  3  =  24	8  *  4  =  32	8  *  5  =  40	8  *  6  =  48	8  *  7  =  56	8  *  8  =  64	8  *  9  =  72
9  *  1  =  9	9  *  2  =  18	9  *  3  =  27	9  *  4  =  36	9  *  5  =  45	9  *  6  =  54	9  *  7  =  63	9  *  8  =  72	9  *  9  =  81

## 형식지정자
- {n:0k.jf}.format(p1, p2, ...) <- n번째 요소를 k자리수로 맞추자. 정수부터 빈자리는 0으로 채우고
- {n:0kd}.format(p1, p2, ...)
- {n:k.jf}.format(p1, p2, ...)  
- {n:kd}.format(p1, p2, ...)

In [26]:
a = 10
b = 5
c = 98.77
print("a = ", '{0:02d}\tb = {1:02d}\tc = {2:0.1f}'.format(a, b, c))

a =  10	b = 05	c = 98.8

In [30]:
i = 0
j = 0

for i in range(2, 10):
  for j in range(1, 10):
    print(i, " * ", j, " = ", '{0:2d}'.format(i * j), end = " ")
  print("")

2  *  1  =   2 2  *  2  =   4 2  *  3  =   6 2  *  4  =   8 2  *  5  =  10 2  *  6  =  12 2  *  7  =  14 2  *  8  =  16 2  *  9  =  18
3  *  1  =   3 3  *  2  =   6 3  *  3  =   9 3  *  4  =  12 3  *  5  =  15 3  *  6  =  18 3  *  7  =  21 3  *  8  =  24 3  *  9  =  27
4  *  1  =   4 4  *  2  =   8 4  *  3  =  12 4  *  4  =  16 4  *  5  =  20 4  *  6  =  24 4  *  7  =  28 4  *  8  =  32 4  *  9  =  36
5  *  1  =   5 5  *  2  =  10 5  *  3  =  15 5  *  4  =  20 5  *  5  =  25 5  *  6  =  30 5  *  7  =  35 5  *  8  =  40 5  *  9  =  45
6  *  1  =   6 6  *  2  =  12 6  *  3  =  18 6  *  4  =  24 6  *  5  =  30 6  *  6  =  36 6  *  7  =  42 6  *  8  =  48 6  *  9  =  54
7  *  1  =   7 7  *  2  =  14 7  *  3  =  21 7  *  4  =  28 7  *  5  =  35 7  *  6  =  42 7  *  7  =  49 7  *  8  =  56 7  *  9  =  63
8  *  1  =   8 8  *  2  =  16 8  *  3  =  24 8  *  4  =  32 8  *  5  =  40 8  *  6  =  48 8  *  7  =  56 8  *  8  =  64 8  *  9  =  72
9  *  1  =   9 9  *  2  =  18 9  *  3  =  27 9  *  4  =  36 9  *  5  =  45 9  *  6  =  54 9  *  7  =  63 9  *  8  =  72 9  *  9  =  81

- 별 출력 (난이도 하)

```
*****
*****
*****
*****
*****
```

In [32]:
for i in range(0, 5):
  for j in range(0, 5):
    print("*", end="")
  print("")

*****
*****
*****
*****
*****

- 별 출력 (난이도 중)

```
*
**
***
****
*****
```

In [33]:
for i in range(1, 6):
  for j in range(0, i):
    print("*", end="")
  print("")

*
**
***
****
*****

- 별 출력 (난이도 상)

```
    *
   **
  ***
 ****
*****
```

In [40]:
for i in range(1, 6):
  for k in range(0, 5-i):
    print(" ", end="")
  for j in range(0, i):
    print("*", end="")
  print("")

    *
   **
  ***
 ****
*****