<a href="https://colab.research.google.com/github/jeonghar1m/ITECT-Practice/blob/main/%EA%B3%B5%EC%BB%B410%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 튜플

In [ ]:
# 튜플 생성
tup = (10, 20, 30)
tup, type(tup)

((10, 20, 30), tuple)

In [ ]:
# 중첩 튜플 생성
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
tup[1]

20

In [ ]:
nested_tup[1]

(7, 8)

In [ ]:
# 튜플에 리스트를 넣어서 생성
tup = tuple(['korea', [1, 2], True])
tup, type(tup)

(('korea', [1, 2], True), tuple)

In [ ]:
tup[1]

[1, 2]

In [ ]:
tup2 = tup + (1000, 10000)
tup2

('korea', [1, 2], True, 1000, 10000)

In [ ]:
# 튜플 길이 구하기
print('tup2의 길이 = ', len(tup2), ', tup길이 = ', len(tup))

tup2의 길이 =  5 , tup길이 =  3

In [ ]:
list3 = [1, 2, 3, 4, 5]

In [ ]:
# 튜플 반복
list3 * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

* unpacking tuple

In [ ]:
tup2 = (4, 5, 6)
a, b, c = tup2

In [ ]:
b

5

In [ ]:
# 튜플 속성에 튜플을 이용해 할당
tup2 = 4, 5, (6, 7)
a, b, (c, d) = tup2

In [ ]:
tup2

(4, 5, (6, 7))

In [ ]:
tup1 = 4, 5, 6
tup1, type(tup1)

((4, 5, 6), tuple)

In [ ]:
print(a)
print(b)
print(c)
print(d)

4
5
6
7

In [ ]:
# 변수값 교환
a, b = c, d
a, b, c, d

(6, 7, 6, 7)

In [ ]:
# temp = num1
# num1 = num2
# num2 = temp
# num1, num2
num1 = 10
num2 = 100
num1, num2 = num2, num1
num1, num2

(100, 10)

In [ ]:
seq = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
type(seq)

list

In [ ]:
seq = [(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
print(type(seq))
a, b, c, c = seq
c, type(a)

<class 'list'>

((10, 11, 12), tuple)

In [ ]:
print(len(seq))
print(seq[0])
print(seq[1])
print(seq[2])

4
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [ ]:
seq

[(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12)]

In [ ]:
for a in seq:
  print(a)
  for b in a:
    print(b)

(1, 2, 3)
1
2
3
(4, 5, 6)
4
5
6
(7, 8, 9)
7
8
9
(10, 11, 12)
10
11
12

In [ ]:
values = 1, 2, 3, 4, 5
values

(1, 2, 3, 4, 5)

In [ ]:
a, b, *c = values # *c = 나머지들을 묶어서 리스트 형태로 저장
a, b, c

(1, 2, [3, 4, 5])

In [ ]:
type(c)

list

In [ ]:
type(values)

tuple

In [ ]:
type(a), type(b), type(c)

(int, int, list)

- set

In [1]:
a = {1, 2, 3, 4, 5}
b = {3, 20, 5, 40, 50}
a

{1, 2, 3, 4, 5}

In [2]:
b

{3, 5, 20, 40, 50}

In [3]:
c = {1, 4, 1, 10, 20, 10} # 중복 불가능
c

{1, 4, 10, 20}

In [4]:
# union | or
print(a | b)
print(a.union(b))

{1, 2, 3, 4, 5, 40, 50, 20}
{1, 2, 3, 4, 5, 40, 50, 20}

In [5]:
# intersection &
a & b

{3, 5}

In [6]:
myData = [1, 2, 3, 4]
mySet = {tuple(myData)}
mySet

{(1, 2, 3, 4)}

In [7]:
# subset
a_set = {1, 2, 3, 4, 5}
bbc = {1, 2, 3}
bbc.issubset(a_set)

True

In [8]:
# superset
a_set.issuperset(bbc)

True

In [9]:
# set 비교
{1, 2, 3} == {3, 2, 1}

True

- dictionary

In [10]:
dict1 = {'apple' : '사과', 'bee' : '벌', 'peach' : '복숭아', 'pear' : '사과'}
type(dict1)

dict

In [11]:
dict1['watermelon'] = '수박'
dict1

{'apple': '사과', 'bee': '벌', 'peach': '복숭아', 'pear': '사과', 'watermelon': '수박'}

In [14]:
dict1['pear'] = '배'
dict1['pear']

'배'

In [15]:
dict1

{'apple': '사과', 'bee': '벌', 'peach': '복숭아', 'pear': '배', 'watermelon': '수박'}

In [17]:
dict1['peach']

'복숭아'

In [18]:
'apple2' in dict1

False

In [19]:
'pear' in dict1

True

In [20]:
del dict1['pear']
dict1

{'apple': '사과', 'bee': '벌', 'peach': '복숭아', 'watermelon': '수박'}

In [21]:
# remove
ccc = dict1.pop('peach')
ccc, dict1

('복숭아', {'apple': '사과', 'bee': '벌', 'watermelon': '수박'})

In [22]:
keyList = dict1.keys()
keyList

dict_keys(['apple', 'bee', 'watermelon'])

In [23]:
keylist = list(dict1.keys())
keylist

['apple', 'bee', 'watermelon']

In [24]:
keyTuple = tuple(dict1.keys())
keyTuple

('apple', 'bee', 'watermelon')

In [25]:
dict1['ship'] = '둥둥배'
dict1

{'apple': '사과', 'bee': '벌', 'ship': '둥둥배', 'watermelon': '수박'}

In [26]:
dict1.update({'mountain' : '산'})
dict1

{'apple': '사과', 'bee': '벌', 'mountain': '산', 'ship': '둥둥배', 'watermelon': '수박'}

In [27]:
dict1.keys()

dict_keys(['apple', 'bee', 'watermelon', 'ship', 'mountain'])

In [28]:
for k in dict1.keys():
  print(k) # 키 값 출력
  print(dict1[k]) # 키에 해당하는 값 출력

apple
사과
bee
벌
watermelon
수박
ship
둥둥배
mountain
산

In [29]:
dict1['apple'] = '수박2'
dict1

{'apple': '수박2',
 'bee': '벌',
 'mountain': '산',
 'ship': '둥둥배',
 'watermelon': '수박'}

In [30]:
dict1.values()

dict_values(['수박2', '벌', '수박', '둥둥배', '산'])

In [31]:
dict1.items()

dict_items([('apple', '수박2'), ('bee', '벌'), ('watermelon', '수박'), ('ship', '둥둥배'), ('mountain', '산')])

In [32]:
dict1['bee']

'벌'

In [33]:
dict1.get('bee')

'벌'

In [34]:
for k in dict1.keys():
  print(k)
  print(dict1.get(k))

apple
수박2
bee
벌
watermelon
수박
ship
둥둥배
mountain
산